<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eu.electrolab">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Electrolab"
        tools:targetApi="31">
        <activity
            android:name=".RegulateurDeTension"
            android:exported="false" />
        <activity
            android:name=".MultiplicateurDeTension"
            android:exported="false" />
        <activity
            android:name=".ParametreActivity"
            android:exported="false" />
        <activity
            android:name=".MosfetAmp"
            android:exported="false" />
        <activity
            android:name=".RegulatorZener"
            android:exported="false" />
        <activity
            android:name=".FiltreH"
            android:exported="false" />
        <activity
            android:name=".FiltreB"
            android:exported="false" />
        <activity
            android:name=".AmpD"
            android:exported="false" />
        <activity
            android:name=".AmpC"
            android:exported="false" />
        <activity
            android:name=".AmpB"
            android:exported="false" />
        <activity
            android:name=".AmpA"
            android:exported="false" />
        <activity
            android:name=".ColpittsOsc"
            android:exported="false" />
        <activity
            android:name=".Multivibrator"
            android:exported="false" />
        <activity
            android:name=".DifferentialAmp"
            android:exported="false" />
        <activity
            android:name=".ActivityDarlington"
            android:exported="false" />
        <activity
            android:name=".Item1"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>